<html>
  <head>
    <title>DavidDash</title>
    <script type="text/JavaScript">
      <!--
      function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
      }
      //   -->
    </script>
  </head>
  <body onload="JavaScript:timedRefresh(300000);">
    <h1>Inside</h1>
    <h2><%= last_value(@inside).round(0) %> <%= trend @inside %></h2>
    <%= render_graph @inside %>
    <%= render_graph @inside3h %>
    <hr>
    <h1>Outside</h1>
    <h2><%= last_value(@outside).round(0) %> <%= trend @outside %></h2>
    <%= render_graph @outside %>
    <%= render_graph @outside3h %>
  </body>
</html>